
{% extends "layout.html" %}
{% block title %}<title> About Us </title>{% endblock %}
{% block style %}

<style>
.figure{

  border-radius: 20px 20px 0px 0px;

}

</style>
{% endblock %}
{% block body %}
      <div style="color:white;text-align: center;" align="center" >
        <h3> About Us </h3>
        <br />
        <br />
        <p> WhereYouGoin is a project born out of Boston University CS411 Software Engineering Course.
          Use our web app to help plan your upcoming trip! After creating an account you can specify,
          where you would like to go and easily find recommendations for restaurants, museums and more! </p>
      </div>
      <br />
      <br />
      <div style = "display:flex;color:white;text-align: center;"align="center">
        <div align="center" style="text-align:center;  display:inline-block; margin:auto;">
            <div class="figure"><img src="/static/images/tessa.jpg" width="175" height="175" style="border-radius: 20px 20px 0px 0px;"/>
              <div class="figcaption" style="background-color:gray;  border-radius: 0px 0px 20px 20px;">
                <p class="team_name">Tessa McNeil</p>
                <p class="team_title">Math and Computer Science '19</p>
		<p class="team_description"> <a style = "color:white" href="https://linkedin.com/in/tnmcneil">Check me out on linkedIn  </p>
                <br />
              </div>
            </div>
            <div class="figure"><img src="/static/images/yahia.png" width="175" height="175" style="border-radius: 20px 20px 0px 0px;" />
              <div class="figcaption" style="background-color:gray;  border-radius: 0px 0px 20px 20px;">
                <p class="team_name">Yahia Bakour</p>
                <p class="team_title">Computer Engineer</p>
                <p class="team_description">Visit my personal site <a style = "color:white" href="https://www.yahiabakour.com">here</a></p>
                <br />
              </div>
            </div>
            <div class="figure"><img src="/static/images/mich.jpg" width="175" height="175" style="border-radius: 20px 20px 0px 0px;"/>
              <div class="figcaption" style="background-color:gray;  border-radius: 0px 0px 20px 20px;">
                <p class="team_name">Michael Hendrick</p>
                <p class="team_title">Computer Science '20</p>
                <p class="team_description"><a style = "color:white" href="https://www.mhendrick.net">Visit my personal site here</a></p>
                <br />
              </div>
            </div>
            <div class="figure"><img src="/static/images/zpw.jpg" width="175" height="175" style="border-radius: 20px 20px 0px 0px;"/>
              <div class="figcaption" style="background-color:gray;  border-radius: 0px 0px 20px 20px;">
                <p class="team_name">Zhipeng Wang</p>
                <p class="team_title">Computer Science 2020</p>
                <p class="team_description">Person description goes here</p>
                <br />
              </div>
            </div>
          </div>
      </div>

{% endblock %}
