{% extends "layout.html" %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$( document ).ready(function() {

    $('#loginForm').submit(function (event) {
        if($('#username').val() == ''){
            alert( "Username required." );
            event.preventDefault();
        } else if($('#password').val() == ''){
            alert( "Password is required" );
            event.preventDefault();
        } else{
            $('#loginForm').submit();
        }
    });
});
</script>

{% block style %}
<style>
input[type=text],input[type=password] {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus,input[type=password]:focus {
  border: 3px solid #555;
}

</style>
{% endblock %}

{% block head %}
  {% block title %}
  <title>
      Sign In
  </title>
  {% endblock %}
  {% endblock %}


  {% block body %}
  
  <div class="main">
      {% if error %}
        <br />
        <h2 style="color:white;" class="sign" align="center">Login to start</h2>
        <p style="color:white;" class="error" align="center">{{ error }}</p>
      {% else %}
        <br />
        <h2 style="color:white;" class="sign" align="center">Login to start</h2>
      {% endif %}
    <form style="text-align:center;" action="/Login" method="post">
        {{ form.username(class_="un", placeholder="Username", id="username")}}
        <br />
        {{ form.password(class_="pass", placeholder="Password", id="password")}}
        {{ form.hidden_tag() }}
        <br/> <br />
      <input type="submit" class="FORMSUBMIT" align="center" value="Log In">
      <a href="./Googlelogin" class="FORMSUBMIT" align="center"><i class="fa fa-google w3-hover-opacity"></i><a>
        <br><a href="./Signup" class="FORMSUBMIT" align="center">Register<a>


      <p class="forgot" align="center">
        <a href="./resetpassword">Forgot Password?</a></p>
      </form>

        <!-- <button align="center" id="customBtn" class="FORMSUBMIT"> <a href="./Googlelogin">Login with Google</a></button> -->



    </div>

    {% endblock %}
